.cw-section {
  border: 1px solid $terceary-gray;
  border-radius: $border-radius-section;
  width: 40%;
  opacity: 1;
  padding: 25px 25px 10px 25px;
  background-color: $primary-white;

  .cw-label-section {
    color: $primary-blue;
    position: absolute;
    margin-top: -35px;
    margin-left: 15px;
    background-color: $primary-white;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.cw-section-main {
  /*   border: 1px solid $terceary-gray;
  border-radius: $border-radius-section; */
  width: 75%;
  min-height: 500px;
  height: calc(90vh - 64px);
  opacity: 1;
  padding: 25px 25px 10px 25px;
  margin-top: 30px;
}

.container-principal {
  /*  display: flex;
  align-items: center;
  justify-content: center; */
}

.container-second {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.form-subtitle {

  margin: 0;
  padding-bottom: 5px;

  font-family: Arial;
  font-size: 1.8rem;
}

.page-title {
  height: 32px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.25px;
  color: rgba(0, 0, 0, 0.87);
}

.btn-save {
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 16px;
  gap: 16px;
  background: #006EAA;
  border-radius: 4px;
}

.cw-btn-primary-imp {
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 16px;
  gap: 16px;
  background: #006EAA;
  border-radius: 4px;
}

table {
  width: 100%;
}

.mat-elevation-z8 {
  width: auto;
  box-shadow: 0px 1px 1px -3px rgb(0 0 0 / 20%), 0px 2px 2px 1px rgb(0 0 0 / 14%), 0px 3px 4px 2px rgb(0 0 0 / 12%);
}

.admin-sidenav-content {
  padding: 1rem;
  min-width: max-content;
  position: relative;
}