// Colors
$primary-red: #d9000d;
$primary-blue: #003087;
$primary-black: #060418;
$secundary-black: #6a707e;
$primary-gray: #697279;
$primary-white: #ffffff;
$primary-green: #5ac75e;
$secundary-gray: #bac3cb;
$terceary-gray-ligth: #d0d7dd;
$quaternary-gray: #e7edf2;

$primary-blue-hover: #2b5ea0;
$terceary-gray: #bebace;

// Generals
$opacity: 1px;
$border: 1px;
$background-color-disabled: #e7edf2;
$border-radius-section: 5px;
$box-shadow: 0px 2px 11px #005baa1a;

// Bottons
$button-height: 44px;
$button-border-radius: 23px;
$button-text-primary: $primary-white;
$button-text-primary-hover: $primary-white;

// Icons
$icon-size-button: 20px;
$icon-size-menu: 20px;

// Text
$letter-spacing: 0px;
$text-black-color: #060418;

// Form
$input-border-radius: 23px;
$input-box-shadow: 0px 2px 11px #005f6d21;
$input-box-height: 32px;

// Tabs
$padding-tab-buttons: 0px 30px 0px 30px;
$button-height-tab: 37px;

// Nav bar
$navbar-color : #ffff;

// Botton

$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669F2;
