<ng-container *ngIf="vehicles$ |  async as vehicles"></ng-container>
<app-spinner *ngIf="isLoading"></app-spinner>
<div class="mat-elevation-z8">
  <form [formGroup]="form">
    <div class="col-sm-7 col-md-7 col-lg-7 col-xl-4">
      <mat-form-field appearance="outline" class="cw-mat-full-with">
        <input matInput placeholder="{{'FORMS.LABELS.FILTER' | translate}}" formControlName="filtro"
          (blur)="searchUsingFilter()" (keyup.enter)="searchUsingFilter()">
      </mat-form-field>
    </div>
  </form>
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="marca">
      <th mat-header-cell *matHeaderCellDef>{{ 'TABLES.COLUMN.VEHICLE_BRAND' | translate}} </th>
      <td mat-cell *matCellDef="let element"> {{element.marca}} </td>
    </ng-container>

    <ng-container matColumnDef="modelo">
      <th mat-header-cell *matHeaderCellDef>{{ 'TABLES.COLUMN.MODEL' | translate}} </th>
      <td mat-cell *matCellDef="let element"> {{element.modelo}} </td>
    </ng-container>

    <ng-container matColumnDef="color">
      <th mat-header-cell *matHeaderCellDef> {{ 'TABLES.COLUMN.COLOR' | translate}} </th>
      <td mat-cell *matCellDef="let element"> {{element.color}} </td>
    </ng-container>

    <ng-container matColumnDef="fechaIngreso">
      <th mat-header-cell *matHeaderCellDef> {{ 'TABLES.COLUMN.ADD_DATE' | translate}} </th>
      <td mat-cell *matCellDef="let element"> {{element.fechaIngreso}} </td>
    </ng-container>
    <ng-container matColumnDef="estado">
      <th mat-header-cell *matHeaderCellDef> {{ 'TABLES.COLUMN.STATE' | translate}} </th>
      <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> {{ 'TABLES.COLUMN.ACTIONS' | translate}} </th>
      <td mat-cell *matCellDef="let element">
        <button [disabled]="isLoading" mat-icon-button aria-label="Example icon button with a home icon"
          (click)="editVehicle(element.id)">
          <mat-icon>edit</mat-icon>
        </button>
        <button [disabled]="isLoading" mat-icon-button aria-label="Example icon button with a home icon"
          (click)="confirmSelectDelete(element.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [disabled]="isLoading" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
    aria-label="Select page of periodic elements" [length]="objPage.count" [pageSize]="objPage.sizeTable"
    (page)="pageEvent($event)" [pageIndex]="objPage.pageNumber">
  </mat-paginator>
</div>